<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiVision - Blur Check Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BlurCheckTest.css') }}">
</head>

<body>
    <div class="page-container">
        <div class="content-container">
            <!-- Title and Instructions -->
            <h1 id="title">Instructions!</h1>
            <p id="instructions">
                I) Make sure to turn your brightness all the way up! <br>
                II) Keep both eyes open!<br>
                III) Keep your head in a distance of 30-40 cm from the screen<br>
                <b>IV) Indicate if the text appears blurry or clear!</b><br><br>
            </p>

            <!-- Start Button -->
            <div id="test-controls" style="display: block;">
                <button id="okButton">Ok</button>
            </div>

            <!-- Test Area -->
            <div id="test-area" style="display: none;">
                <div id="blur-text"></div>
                <div id="options-container" class="option-buttons"></div>
                <button id="GoBack" style="display: none;">Go Back</button>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        Made by Tameer and Redan.
    </div>
    <script src="{{ url_for('static', filename='BlurCheckTest.js') }}"></script>
</body>

</html>